body{
    overflow-x: hidden;
    background-color: darkkhaki;
}

.form {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    position: center;
    height: 70px;
}

.simple{
    padding: 10px;
    max-width: 266px;
    height: 400px;
    margin: auto;
    animation: letsAppear 1s ease-in;
    word-wrap: break-word;
}

.container{
    display: flex;
    flex-wrap: wrap;
    position: relative;
    left: 1px;
}

img{
    width: 266px;
    height: 150px;
    border: 4px inset black;
}

.title{
    height: 130px;
    font-weight: bold;
    font-size: 18px;
}

.description{
    font-family: Permanent-Marker;
    height: 150px;
    font-style: italic;
    text-align: left;
}

.duration, .author {
    font-style: normal;
    font-size: 12px;
}

button {
    margin-top: 5px;
    width: 80px;
    height: 24px;
    font-size: 18px;
    background: -moz-linear-gradient(darkkhaki, gray);
}

input {
    height: 30px;
    font-size: 18px;
    border: 1px solid #cccccc;
    border-radius: 3px;
    -webkit-border-radius: 3px;
}

@-webkit-keyframes letsAppear {
    0% { opacity: 0;}
    100% { opacity: 1;}
}

@font-face {
    font-family: Permanent-Marker;
    src: url(./eurostile.TTF);
}